NEXT_PUBLIC_BASE_URL = http://127.0.0.1:4523/m1/6629948-6337524-default
NEXT_PUBLIC_WEB_SOCKET_URL = ws://localhost:3001
NEXT_PUBLIC_BASE_URL = http://192.168.137.1:8080
NEXT_PUBLIC_WEB_SOCKET_URL = ws://192.168.137.1:8080/ws
AUTH_SECRET = llmons
